.stream-item {
    transition: all .2s ease-in-out;
    margin: 15px;
    padding: 15px;
}

.stream-item:hover {
    background-color: #f8f9fa;
    transform: scale(1.01);
}

.icon-button-group {
    opacity: 0.5;
    transition: all .2s ease-in-out;
    margin: 5px;
}
/*.icon-button-group:nth-child(odd) {*/
/*    margin: 5px;*/
/*}*/
.icon-button-group:hover {
    opacity: 0.9;
    transform: scale(1.3);
}